*{
 margin: 0px;
 padding: 0px;
 box-sizing: border-box;
 background: #fcfcfc;
 font-family: Arial, Helvetica, sans-serif, ;
}

.page{
 padding:  0px 40px 0px 40px;
}
@keyframes slideIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.header {
  animation: slideIn 1s ease-out;
  padding: 20px 0px 0px 0px;
}
.mt{
  margin-top: 10px;
}
.mt-2{
   margin-top: 20px;
}
.logo-name {
width: 150px;
cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-self: center;
  width: 100%;
}
.nav-links {
  display: flex;
  list-style-type: none; 
}

li {
  margin-left: 1.5rem;
}
li div {
  text-decoration: none;
  font-size: 17px;
  color: rgb(11, 3, 31);
  font-weight: 600;
  transition: color 0.3s, transform 0.3s;
  cursor: pointer;
}
li div:hover {
  color: rgb(115, 167, 212);
  transform: scale(1.1);
}
.btn-1 {
 padding: 10px;
  font-size: 15px;
  background: rgb(115, 167, 212);
  color: #fff;
  border-color: #fff;
  border-radius: 2px;
  border: none;
  transition: background-color 0.3s, transform 0.3s;
  cursor: pointer;
}
.btn-1:hover {
  background-color: rgb(95, 147, 192);
  transform: scale(1.05);
}
.btn-li {
  margin-top: -5px;
}
.hamburger{
 display: none;
}
.nav-links.true{

    transform: translate(0);

}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.section h1 {
  animation: fadeInUp 1s ease-out forwards;
}
.slogun h3 {
  animation: fadeInUp 2s ease-out forwards;
}
.quote p {
  animation: fadeIn 2s ease-out forwards;
}
/* Existing styles */
.hero-flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-section {
  padding: 150px 0px 0px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.some-about-content{
  width: 50%;
}
.secure-it{
  color: rgb(115, 167, 212);
  font-weight: 600;
  text-decoration: underline;
}
.hero-font{
  font-size: 40px;
  margin-top: 20px;
}
.color{
  color: rgb(6, 6, 63);
}
.font{
  font-family: 'Oswald', sans-serif;
}
.section {
  font-size: 20px;

}
.slogun {
  padding: 15px 0px 0px 0px;
  color: rgb(239, 168, 54);
}
.quote {
  width: 40%;
  padding: 15px 0px 0px 0px;
}
.btns {
  padding-top: 15px;
  display: flex ;
  align-items: center;
  justify-content: start;
  gap: 30px;
}
.button-2 {
  margin-left: 20px;
  padding: 15px 25px 15px 25px;
  font-size: 15px;
  background: rgb(115, 167, 212);
  color: #fff;
  border-color: #fff;
  border-radius: 5px;
  border: none;
}
.button-1 {
  padding: 10px;
  font-size: 15px;
  background: rgb(115, 167, 212);
  color: #fff;
  border-color: #fff;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  width: 150px;
}
.button-1:hover{
  background-color: rgb(16, 24, 49);
  transition: 0.6s ease-in-out;
}
.hero-image {
  padding: 0px 30px 0px 0px;

}
/* some about content */
.span{
  color: rgb(239, 32, 4);
}
.checkbox-flex{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
}
.topex{
  margin-top: 10px;
}
.quote-1{
  margin-top: 20px;
  color: gray;
  font-size: 15px;
  line-height: 1.5rem;
  text-align: justify;
}
.quote-2{
  color: gray;
  font-size: 15px;
  line-height: 1.5rem;
}
/* services-section */
.contact-btn {
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-1 {
  text-align: center;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  border-radius: 5px;
  width: 100%;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.container-p,
.container-a {
  margin-bottom: 10px;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  color: rgb(221, 186, 186);
}
.container-p {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
.container-a {
  font-size: 18px;
}
.contact-us {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
.right {
  margin-right: 10px;
  width: 100px;
}

.btn-2:hover{
  background-color: #191133;
}
.img-width-size{
 width: 50%;
}

.skillName{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.skillName-2{
  border: 1px solid black;
  text-align: center;
  padding: 20px;
  border-radius: 50px;
  background-color: rgb(16, 24, 49);
  color: #fff;

  font-weight: 600;
  font-family: 'Oswald', sans-serif;
  cursor: pointer;
}
.skillName-2:hover{
  background-color: rgb(39, 56, 106);
  transition: 0.6s ease-in-out;
}
/* It experience section */
.topex-2{
  margin-top: 70px;
}
.experience-field{
  width: 100%;
}
.fill-border{
  height: 100%;              
  background-color: rgb(115, 167, 212); 
  transition: width 0.5s ease; 
  border-radius: 5px;  
}
.para-1{
  font-size: 15px;
  background: none;
}
.progress-bar{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  height: 15px;
  width: 100%;
  border-radius: 5px;        
  overflow: hidden;          
}
.progress-text{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
   font-weight: 600;
}

.it-services{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding: 40px 0px;
}
.it-services-flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.grid-border{
  padding: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.services-img-add{
  background: rgb(115, 167, 212);
  border-radius: 2px;
  width:100%;
  cursor: pointer;
   height: 180px;
}
.services-img-add:hover{
   transition: 0.6s ease-in-out;
   zoom: 100%;
   transform: scale(1.2);
}
.img-aspect-1{
  border-radius: 2px;
  cursor: pointer;
  border: 1px solid rebeccapurple;
  height: 100px;
  background-color: black;
  text-align: center;
}
.p-bg{
  background-color: #191133;
  color: #fff;
  padding: 10px;
}

.footer {
  width: 100%;
 padding: 100px 0px 0px 0px;
}
.footer-logo{
  width: 50%;
  padding: 10px 0px;
}
.some-content {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}
.footer-flex {
display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 50px;

padding-top: 20px;
border-top:  1px solid  #ee6464;
}
.footer-container-1 {
  width: 100%
} 
.some-content {
  padding-top: 20px;
  cursor: pointer;
}
.textBig{
  cursor: pointer;
}
.footer-services {
  padding-top: 10px;
  font-size: 15px;
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.footer-container-3 {
  border: 1px solid #b3b1b1;
  margin-top: 20px;
  padding: 20px 0px;
  background-color: #26194a;
}
.footer-contact {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  padding-top: 10px;
}
.whatsapp-icon {
  width: 15px;
}
.icons-contact {
  font-size: 18px;
}
.footer-social-icon {
  width: 30px;
  cursor: pointer;
}
.footer-social-icon:hover {
  opacity: 0.6;
  background-color: aliceblue;
}
.para2 {
  font-size: 14px;
}
.para3 {
  padding: 10px 0px 10px 0px;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Oswald', sans-serif;
}
.copyright {
  text-align: center;
}
/* our blog */
.slider-container{
  width: 100%;
  overflow: hidden;

  padding: 20px 0px;
  border-radius: 2px;

}
.blog-sliding-container{
  display: flex;
  width: 100%;
  animation: slide 15s linear infinite;
}
.border-item{
  flex: 0 ,0, auto;
  margin: 0 20px;
  font-size: 20px;
  font-weight: 600;
  color: #333;
  white-space: nowrap;
}
.img-width-4{
  width: 100%;
  height: 250px;
  object-fit: cover;
 }
 .createddate{
  color: #b0acac;
  font-size: 12px;
  font-family: 'oswald', 'Times New Roman', Times, serif;
 }
 .para5{
  font-size: 20px;
  font-family: 'oswald', 'Times New Roman', Times, serif;
  font-weight: 600;
}
.para4{
  font-family: 'oswald', 'Times New Roman', Times, serif;
  font-size: 16px;
  text-align: justify;
  line-height: 1.5rem;
}

@keyframes slide{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-100%);
  }
}
.blogs-container{
  border-radius: 2px;
  padding: 10px;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
 }
 .blog-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
 }
/* pages css */
/* Contact page css */
.contact-us-title{
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  font-family: var(--font);
}                                 
.para-4{
  font-size: 25px;
  font-weight: 600;
  font-family: var(--font);
}
.message-box-text{
  width: 800px;
  height: 250px;
  padding: 10px;
}
.input-width{
  padding: 10px;
  width: 100%;
  border-radius: 2px;
}
.footer-flex-3{
  display: flex;
  align-items: center;
  justify-items: start;
  gap: 10px;
}
.footer-flex-4{
  display: flex;
  justify-content:  start;
  gap: 100px;
}
.btn-color-gr{
  background-color: #07763c;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 15px;
}
.btn-color-gr:hover{
  background-color: #000;
  transition: 0.6s ease-in-out;
}

.about-banner-img{
  width: 100%;
}
.about-section{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-image{
  width: 60%;
}
.about-page{
  padding: 0px 50px;
}
.project-completion{
  border: 1px solid #b3b1b1;
  width: 100%;
  padding: 40px 60px;
  border-radius: 2px;
  background-color: #191133;
}
.project-completion-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #191133;
}
.project-item-list{
  display: flex;
  gap: 30px;
  justify-content: start;
  border: 1px solid #b3b1b1;
  padding: 20px 10px;
  border-radius: 2px;
  background: rgb(236, 236, 236);
}
.icon-size{
  font-size: 65px;
  background: rgb(236, 236, 236);
}
.project-content{
  background: rgb(236, 236, 236);
}
.color-1{ 
  color: #eb0c0c;
  font-weight: 600;
}
.grid-template-hel{
  display: grid;
  grid-template-columns: repeat( 4, 1fr);
  gap: 30px;
}
.content-container-1{
 border: 1px solid #b3b1b1; 
  width: 100%;
}

.service-container{
  display: flex;
  justify-content: start;
  gap: 150px;

}
.support-icon{
  font-size: 150px;
}
.support-center{
  text-align: center;
  border: 1px solid #000;
  padding: 10px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  background-color: #26194a;
}
.support-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.service-image-1{
  width: 100%;
}
.service-border-1{
  border: 1px solid black;
  width: 100%;
}
.services-container-1{
  border-radius: 2px;
  padding: 20px 20px 10px 20px;
  background-color: #cfcaca;
  width: 100%;
}
.service-container-2{
  width: 100%;
  border: 1px solid #cfcaca;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.service-container-2:hover{
  background-color: rgb(115, 167, 212);
  transition: 0.6s ease-in-out;
}
.forward-icon{
  font-size: 30px;
  background: none;
}
.service-title{
  background: none;
  font-weight: 200;
  font-family: 'oswald', sans-serif;
}
.font-size-1{
  font-family: 'oswald', sans-serif;
  line-height: 1.5rem;
  word-spacing: 0.2rem;
  text-align: justify;

}
.font-size-2{
  text-align: center;
}
.border-6{
  border: 1px solid black;
}
.background-Remover{
   background: none;
}
.test-1{
  width:  60%;
  border-color: 2px solid bisque;
  border-radius:  100px;
  background-color: #cdcdcd;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
}
.test-2{
  width: 100%;
  padding: 40px;
  margin-top: -50px;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.rating{
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 5px;
}
.profile-size-1{
  width: 100px;;
  border-radius: 50%
}
.flex-row-col{
   display: flex;
   flex-direction: column;
   gap: 20px;
   background-color: #cfcaca;
}
/*  signup section */
   .popup{
    width: 100%;
    height: 100vh;
    background: #fcfcfc;
      display: flex;
    align-items: center;
    justify-content: center;
   }
  .radio-flex{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
  }
  .label-width{
    font-size: 15px;
    font-family: 'oswald', sans-serif;
  }
  /* blog detail */

  .blog-detail-flex{
    display: flex;
    justify-content: start;
    gap: 20px;
   }
   .blog-detail-width{
    width: 75%;
   }
   .blog-title{
    font-size: 30px ;
    font-weight: 600;
    font-family: 'oswald', 'Times New Roman', Times, serif;
   }
   .blog-img-width{
    width: 100%;
    height: 600px;
   }
   .blog-detail-width-1{

    width: 25%;
  
   }
   .blog-detail-grid{
    display: flex;
    flex-direction: column;
    gap: 20px;
  
   }
  /*  add css module */
  .radio-size{
  font-size: 25px;
  font-weight: 600;
  }
  .border-1{
    padding: 15px 20px;
    margin-top:  100px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    width: 30%;
  }
  .text-center{
    text-align: center;
    font-size: 25px;
  }
  .form-container{
     display: flex;
     flex-direction: column;
     gap: 15px;
  }
  .input-width{
    padding: 10px;
    width: 100%;
    border-color: #fff;
    outline: none;
    border-radius: 5px;
  }
  .input-width-2{
    border: 1px solid black;
    padding: 10px;
    width: 100%;
    border-radius: 2px;
  }
  .input-width::placeholder{
    color:  rgb(224, 179, 179);
  }
  .btn-3{
     text-align: center;
     background: #fff;
  }
  .btn-width{
    padding: 10px;
    width: 40%;
    background-color: #000;
    font-size: 15px;
    font-weight: 600;
    border: none;
    outline: none;
    border-radius: 2px;
    cursor: pointer;
    color: #fff;
  }
  .spanish{
    color: red;
    cursor: pointer;
  }
/*  responsivness */
@media (max-width: 550px) {
  /* Hamburger menu */
  .hamburger {
    display: block;
    font-size: 25px;
  }
  .page{
    padding: 10px;
  }
  .blog-grid{

    grid-template-columns: repeat(1, 1fr);
 
   }

 
  

  /* Initial hidden state */
  .nav-links {
    flex-direction: column;
    text-align: center;
    gap: 20px;
    margin-top: 50px;
    background-color: #fff;
   
    width: 100%;
    position: absolute;
    z-index: 1000;
    left: 0px;
    transform: translateX(-100%); /* Off-screen */
    visibility: hidden; /* Make it invisible */
    opacity: 0; /* Fully transparent */
    transition: transform 0.6s ease, opacity 0.6s ease;
  }

  /* Visible state */
  .nav-links.open {
    transform: translateX(0); /* Slide into view */
    visibility: visible; /* Make it visible */
    opacity: 1; /* Fully opaque */
  }
  /* hero section */

  .hero-section{
    display: block;
    padding-top: 30px;
    text-align: justify;
  }
  .hero-image{
    display: none;
 
  }
  .some-about-content{
    width: 100%;
  }
  .hero-flex{
    display: block;
  }
  .footer-flex{
    grid-template-columns: repeat(2, 1fr);
  }
  .quote{
    width: 100%;
  }
  .button-1{
    width: 100%;
  }
  .topex-2{
    margin-top: 15px;
  }
  .copyright{
    text-align: justify;
  }
  .hero-font{
    font-size: 20px;
  }
 .it-services{
  display: block;
 }
 .it-services-flex{
  display: block;
 }
 .img-width{
  width: 100%;
 }
 .about-section{
  display: block;
 }
 .about-image{
  width: 100%;
  object-fit: cover;
 }
 .project-completion-item{
  display: block;
 }


 .about-page{
  padding: 10px;
 }
 .grid-template-hel{
  display: grid;
  grid-template-columns: repeat( 2, 1fr);
  gap: 30px;
  margin-top: 15px;
}
.service-container{
  display: block;
}
.services-container-1{
  margin-top: 15px;
}
.testimonial{
  display: block;
}
.footer-flex-4{
  display: block;
}
.message-box-text{
  width: 100%;
}
.para1{
  text-align: justify;
}
.header{
  padding: 0;
}
.skillName{
  grid-template-columns: repeat(2, 1fr);
}
.popup{
  padding: 10px;
}
.border-1{
  width: 100%;
}
 .project-completion{
  padding: 20px;
 }
 .border-1{
  margin-top: 60px;
 }
 /* blog detail */
 .blog-detail-flex{
  display:block;
 
 }
 .blog-detail-width{
  width: 100%;
 }
 .blog-title{
  font-size: 22px ;
 }
 .blog-img-width{
  width: 100%;
  height: 250px;
 }
 .blog-detail-width-1{
  margin-top: 10px;
  width: 100%;

 }
}

